tmux-*.log
roles/vim/files/vim/backup
roles/vim/files/vim/swap
roles/vim/files/vim/undo
bin
!bin/Darwin/linux
!bin/Darwin/ansible-vault-pass
!bin/codegrep
!bin/dc_ssh
!bin/git
!bin/git-dirty
!bin/git-fco
!bin/git-fshow
!bin/git-fstash
!bin/git-tmux
!bin/git-whodoneit
!bin/line
!bin/load-color
!bin/remote_utils/remote-copy
!bin/remote_utils/remote-paste
!bin/ssh-rmhost
!bin/tmux-battery
