vim/backups/**
bin/git-dependencies
tmux-*.log
dotoverrides
bin
!bin/Darwin/linux
!bin/codegrep
!bin/dc_ssh
!bin/git
!bin/git-dirty
!bin/git-tmux
!bin/git-whodoneit
!bin/line
!bin/load-color
!bin/remote_utils/remote-copy
!bin/remote_utils/remote-paste
!bin/ssh-rmhost
